@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', 'Inter', 'Karla', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.userDisplay {
    display: flex;
    align-items: flex-end;
    padding-right: 50px;
    align-items: center;
}

