* {
    font-family: 'Roboto', 'Inter', 'Karla', sans-serif;
}

.container-categorias {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.container-recomendaciones {

    background: fixed;
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;

}


.container h2 {
    text-align: left;
    color: #383B58;
    margin-left: 45px;


}

.card-container-recomendaciones {
    display: flex;
    background: #383B58;
    opacity: 0.1;
    width: 100%;
    height: 100%;

}

.card {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-left: 0px;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 0px;
    align-items: flex-start;
    width: 700px;
    height: 100%;
    margin-bottom: 20px;

    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: rotate(-0.16deg);


}

.card-body {
    display: flex;
    flex-direction: column;
    height: 250px;
    text-align: left;
    margin-left: 0px;
    color: #383B58;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    
}

.card-body p {
    margin: 0;
    padding: 0;
    color: #383B58;
    
}
.card-body h2 {
    margin: 0;
    padding: 0;
    color: #383B58;
    text-align: left;
    margin-left: 0px;
    
}

.card-image {
    padding: 0px;
    
    height: 100%;
    display: flex;

}

.img-mediana {
    height: 250px;
    width: 250px;
    border-radius: 8px 8px 8px 8px;
    display: flex;

}


.card-container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    
    background: #FFFFFF;
    box-sizing: border-box;
    background-color: #F5F5F5;
    grid-row: 2;
    margin-left: 45px;
    
    align-items: center;
    padding: 0px;

    box-sizing: border-box;
    border-radius: 5px;
    flex-wrap: wrap;

} 
 
.card-container-categoria{

    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 0px;
    align-items: flex-start;
    border-radius: 10px;
    transform: rotate(-0.16deg);
    flex-wrap: wrap;
} 

.font-categoria{
    font-size: 20px;
    font-weight: 700;
    color: #383B58;
   
    margin-top: 20px;
    
    text-align: left;
    opacity: 0.5;
} 

 .btn-primary {
    display: flex;
    left: 0%;
    right: 0%;
    top: 2.03%;
   
    color: #DFE4EA;
    width: 100%;
    /* B -DB COLOR PRINCIPAL */
    
    background: #1DBEB4;
    /* botton sombra */
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transform: rotate(-0.16deg);
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.card-categoria {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background: #FFFFFF;
    box-sizing: border-box;
    
    
    
border: 1px solid #F3F1ED;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


}

.card-categoria img {

    height: 250px;
    width: 250px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    
}