* {
  font-family: "Roboto", "Inter", "Karla", sans-serif;
}

.container-categorias {
  background-color: #fff;
  width: 100%;
  height: 100%;
  /* min-width: 500px; */
}

.container-recomendaciones {
  background: fixed;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  /* min-width: 500px; */
}

.container-recomendaciones h2 {
    text-align: left;
    color: #383b58;
    margin-left: 45px;
    font-size: 1.5rem;
    font-weight: 700;
  }

.container-categorias h2 {
  text-align: left;
  color: #383b58;
  margin-left: 45px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.container h2 {
  text-align: left;
  color: #383b58;
  margin-left: 45px;
  font-size: 1.5rem;
  font-weight: 600;
}
.container-gris h2 {
  text-align: left;
  color: #383b58;
  margin-left: 45px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 0 0 0;
}

.card-container-recomendaciones {
  display: flex;
  background: #383b58;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #ffffff;
  box-sizing: border-box;
  margin-left: 0px;
  gap: 1rem;
  margin-right: 5px;
  margin-top: 0px;
  align-items: flex-start;
  /* min-width: 500px; */
  height: 100%;
  margin-bottom: 20px;
  width: 600px;

  border: 1px solid #dfe4ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(-0.16deg);
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 250px;
  text-align: left;
  margin-left: 0px;
  color: #383b58;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 0px;
  width: 100%;
}

.card-body p {
  margin: 0;
  padding: 0;
  color: #383b58;
}
.card-body h2 {
  margin: 0;
  padding: 0;
  color: #383b58;
  text-align: left;
  margin-left: 0px;
}

.card-image {
  padding: 0px;
  height: 100%;
  display: flex;
}

.img-mediana {
  height: 250px;
  width: 250px;
  border-radius: 8px 8px 8px 8px;
  display: flex;
}

.card-container {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  background: #ffffff;
  box-sizing: border-box;
  background-color: #f5f5f5;
  grid-row: 2;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 5px;
  flex-wrap: wrap;
}

.card-container-categoria {
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 0px;
  align-items: flex-start;
  border-radius: 10px;
  transform: rotate(-0.16deg);
  flex-wrap: wrap;
}

.font-categoria {
  font-size: 20px;
  font-weight: 700;
  color: #383b58;

  margin-top: 20px;

  text-align: left;
  opacity: 0.5;
}

.btn-primary {
  display: flex;
  left: 0%;
  right: 0%;
  top: 2.03%;

  color: #dfe4ea;
  width: 100%;
  /* B -DB COLOR PRINCIPAL */

  background: #1dbeb4;
  /* botton sombra */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border: 0;
  padding: 0.5rem;
  border-radius: 5px;
  transform: rotate(-0.16deg);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-categoria {
  display: flex;

  flex-direction: column;
  justify-content: space-around;

  background: #ffffff;
  box-sizing: border-box;

  border: 1px solid #f3f1ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  text-align: left;
  border-radius: 10px;
  transform: rotate(-0.16deg);

  border: 1px solid #dfe4ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(-0.16deg);
  margin-top: 10px;
}

.card-categoria img {
  height: 250px;
  width: 350px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
}

.card-categoria-span {
  color: #383b58;

  opacity: 0.6;
  padding-bottom: 10px;
  margin-left: 10px;
}
.card-categoria h2 {
  color: #383b58;
  margin-left: 10px;
}

@media (min-width: 435px) and (max-width:520px) {
.card-body p {
  display: none;
}
}

@media only screen and (max-width: 435px) {
  /* For mobile phones: */
  
  .card{
      
      min-width: 300px;
      flex-direction: column;
  } 

  .img-mediana{
      height: 100%;
      width: 100%;
  }
  

  
  
  
  
}


