.container-buscador {
  background: #545776;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.container-buscador h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
}

.formulario-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.btn-buscar{
  height: 40px;
  color: #FFFFFF;
  width: 100%;
  /* B -DB COLOR PRINCIPAL */
  background: #1dbeb4;
  /* botton sombra */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border: 0;
  padding: 5px;
  border-radius: 5px;
  transform: rotate(-0.16deg);
  width: 200px;
  margin: 0%;
  text-align: center;
}

.select {
  height: 40px;
  padding: 5px;
  background: #ffffff;
  /* input shadow */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #7f7f7f;
  width: 395px;
  margin: 0%;
}

.calendario-check-in-out {
  height: 40px;
  padding: 5px;
  background: #ffffff;
  /* input shadow */
  border: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #7f7f7f;
  width: 395px;
  margin: 10px 5px;
  text-align: start;
} 

.calendar-style{
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -150px;
}

.calendar-btn-apply{
    height: 40px;
    color: #FFFFFF;
    background: #1dbeb4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    transform: rotate(-0.16deg);
    margin: 0%;
    text-align: center;
    width: 200px;
    margin: 15px;
    position:initial
}

.react-datepicker__header {
  text-align: center;
  background-color: #FFFFFF;
  border-bottom: 0px #ffffff;
  border-top-left-radius: 0px;
  padding: 8px 0;
  position: relative;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50%;
  background-color:#1DBEB4;
  color: #fff;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #1DBEB4;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 50%;
  background-color: #1dbeb4 ;
  color: #fff;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--in-range) {
  background-color: #b8d7d4;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 767.5px) {

  /* For mobile phones: */

  .formulario-body {
      display: flex;
      flex-direction: column;
  }

  .btn-buscar  {
    width: 70%;
  }
  .select {
      width: 70%;
    }
  .calendario-check-in-out{
      width: 70%;
    }
  .calendar-style {
     
      margin-top: -75px;
  }
  .react-datepicker{
     max-width: 241px;}
    
}

@media (min-width:767.5px ) and (max-width:1023.5px) {
    /* For mobile tablets: */
      .btn-buscar {
          width: 160px;
        }
      
        .select {
          width: 250px;
        }
      
        .calendario-check-in-out {
          width: 250px;
        }

        .calendar-style {
          margin-left: -200px;
        }                                                                    
}

