
.start{
    color: #1dbeb4;
    
}

.card-span{
    color: #1dbeb4;
    
}

.calificacion{
    background: #383B58;
/* B - DB COLOR 2 */

border: 1px solid #383B58;
border-radius: 10px;
transform: rotate(-0.16deg);
color: white;
width: 20px;
text-align: center;
;
}