h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1DBEB4;
}
label {
    font-size: 12px;
    padding: 5px 0px;
}

.form-component-name-lastname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:15px
}

.form-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-component input{
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    height: 40px;
}

form button{
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1DBEB4;
    border: #1DBEB4;
    height: 40px;
    color: #FFFFFF;
    margin-top: 40px;

}

form {
    width: 500px;
}

.form-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
    height: 79.2vh;
}

form span {
    font-size: 12px;
    color: #FF0000;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.body-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swith-path-component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swith-path-link {
    color: #4285F4;
}

.error input {
    border: 1px solid #FF0000;
    background-color: #FFE1E1;
}

@media (max-width: 1023.5px){
    .form-component-name-lastname {
            display: flex;
            flex-direction: column;
            gap: 0px
        }
}

@media (max-width:767.5px) {
    form {
        width: 70%;
            
    }
}