.cerrar-menu-drawer {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: flex-start;
    padding: 15px;
    background-color: #1DBEB4;
    border: #1DBEB4;
}

.menu-drawer-container {
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    padding-right: 0px;
    margin-right: 0px;
}

.barra-menu-drawer {
    background-color: #1DBEB4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px
}

.barra-menu-drawer p {
    color: #FFFFFF;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.75px;
    text-align: right;
    margin: 0%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login-register-section button{
    background-color: #FFFFFF;
    border: #FFFFFF;
    font-size: 16px;
    padding: 15px 0px;

}
.login-register-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    padding-left: 10px;
}

.login-register-section hr {
    height: 0.1px;
    background-color: #545776;
    width: 100%;
}

.footer-menu-drawer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0%;
}

.footer-menu-drawer img {
    padding-right: 15px;
}


.menu-drawer-not-logged {
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}