.menu-drawer-container {
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    padding-right: 0px;
    margin-right: 0px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
