@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', 'Inter', 'Karla', sans-serif;
}

.App {
  text-align: center;
  min-width: 350px;
}

